body{
	 background: #dddede;
   font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
body{
  margin-bottom: 60px;
}
h1{
  color: #f5f5f5;
  font-size: 51px;
  font-family: "Aileron";
  line-height: 1.2;
}
p{
  font-size: 14px;
  font-family: "Helvetica";
  color: rgb(108, 108, 108);
  line-height: 1.2;
}
header {
  background: url("../images/hero.jpg") no-repeat;
  opacity: 2;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 100px;
}
header .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
background-color: rgb(41, 50, 65);
   opacity: 0.6;
}
header .navbar-nav>li>a {
  font-size: 18px;
  border-radius: 10px;
}
header .navbar {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom:none;
  background-color: transparent;
  min-width: 300px;
  border: none;
}
header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-nav>.open>a:focus,
header .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}
header .nav>li>a:focus,
header .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}
header .navbar-nav>li {
    margin-right: 20px;
}
header .navbar-nav {
   margin-top: 12px;
}
header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}
header .navbar-toggle .icon-bar {
    background-color: white;
}
header .navbar-brand {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .navbar-brand:hover {
    color: #ccc;
}
header .hero {
  
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
header .hero h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 36px;
}
header .hero p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  max-width: 660px;
  margin: 0 auto 20px;
  font-weight: normal;
  line-height: 1.5;
}
header .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}
header .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}
header .btn-primary:active {
    transform:translateY(1px);
}
@media screen and (max-width: 767px) {

   
    header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
     z-index:1032;
}
